.job-filter:hover {
  border: 1px solid #fa5508;
  cursor: pointer;
}

.header-nav-list:hover {
  color: #0074e1 !important;
  border-bottom: 1px solid #0074e1;
}

.header-nav-border-b {
  border-bottom: 1px solid #fa5508;
}

.color-primary-blue {
  color: #0074e1;
}
.color-primary-orange {
  color: #fa5508;
}

/* Flex Orange – #FA5508
Bright Aqua – #10E7DC
Deep Blue – #0074E1 */
